/* FONTS */

/* Geologica Roman */
@font-face {
  font-family: 'Geologica Roman';
  src: url('@/assets/fonts/Geologica-Regular.ttf') format('TrueType');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica Roman';
  src: url('@/assets/fonts/Geologica-Medium.ttf') format('TrueType');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica Roman';
  src: url('@/assets/fonts/Geologica-Bold.ttf') format('TrueType');
  font-weight: 700;
  font-style: normal;
}

.geologica-font {
  font-family: 'Geologica Roman';
}

/* Raleway */
@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/Raleway-ExtraBold.ttf') format('TrueType');
  font-weight: 800;
  font-style: normal;
}

.raleway-font {
  font-family: 'Raleway';
}